*{
    padding: 0;;
    margin: 0;
    box-sizing: border-box;
}

#nextBtn{
    float: right;
}

#prvBtn{
    float: right;
    margin-right: 5px;
}
#againBtn{
    float: right;
    margin-right: 5px;
}